<!-- Header and Nav -->
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="/">Dex</a></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span>Menu</span></a>
    </li>
  </ul> 
  <section class="top-bar-section">
    <ul class="right">
      <% if signed_in? %>
        <li class="divider"></li>
        <li class='has-dropdown active'>
          <%= link_to 'Entries', entries_path %>
          <ul class='dropdown'>
            <li><label>Manage Entries</label></li>
            <li><%= link_to 'Create a New Entry', new_entry_path %></li>
          </ul>
        </li>
        <li class='has-dropdown'>
          <%= link_to 'Users', users_path %>
          <ul class='dropdown'>
            <li><label>Manage Users</label></li>
            <li><%= link_to 'Create a New User', new_user_path %></li>
          </ul>
        </li>
      <li><%= link_to 'Logout', logout_path %></li>
      <% else %>
      <li class="active"><%= link_to 'Entries', entries_path %></li>
      <li><%= link_to 'Log in', login_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
<!-- End Header and Nav -->
